/* ===== Box Model ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ===== Reset Margin ===== */

* {
  margin: 0;
}

/* ===== Body ===== */

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* ===== Media ===== */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ===== Form ===== */

input,
button,
textarea,
select {
  font: inherit;
}

/* ===== Typography ===== */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ===== List ===== */

ul,
ol {
  margin: 0;
  padding: 0;
}

/* 如果設計稿沒有項目符號再打開 */
/*
ul,
ol {
  list-style: none;
}
*/

/* ===== Link ===== */

a {
  color: inherit;
  text-decoration: none;
}