:root {
  /* Primary */
  --color-blue-600: hsl(231, 69%, 60%);
  --color-red-400: hsl(0, 94%, 66%);

  /* Neutral */
  --color-gray-50: hsl(0, 0%, 97%);
  --color-gray-400: hsl(229, 8%, 60%);
  --color-gray-600: hsl(229, 6%, 45%);
  --color-gray-900: hsl(229, 31%, 21%);

  /* 字體 */
  --font-family-base: "Rubik", sans-serif;

  /* 字體粗細 */
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* 字體大小 */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-md: 1.125rem; /* 18px */
  --fs-lg: 1.5rem; /* 24px */
  --fs-xl: 1.75rem; /* 28px */
  --fs-2xl: 2rem; /* 32px */

  /* 間距  */
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-8: 2rem; /* 32px */
  --space-10: 2.5rem; /* 40px */
  --space-12: 3rem; /* 48px */
  --space-16: 4rem; /* 64px */
  --space-20: 5rem; /* 80px */
}

body {
  font-weight: var(--font-weight-regular);
  font-size: var(--fs-base);
  font-family: var(--font-family-base);
  line-height: 1.5;
}

/* 版心 */
.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--space-6);
}
[hidden] {
  display: none !important;
}
/*---------- Components ----------*/
/* 一般按鈕 */
.btn {
  height: 46px;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 8px 5px -3px rgba(0, 0, 0, 0.15);
  font-size: var(--fs-sm);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
}
.btn--primary {
  color: white;
  background-color: var(--color-blue-600);
}
.btn--secondary {
  color: var(--color-gray-600);
  background-color: var(--color-gray-50);
}
.btn--danger {
  color: white;
  background-color: var(--color-red-400);
}
/* 圖示按鈕 */
.icon-btn {
  border: none;
  background-color: transparent;
}

.icon-btn--close {
  color: white;
}

/*----------  header ---------- */
.header {
  margin-block: var(--space-10);
}
.header__container {
  padding-inline: var(--space-6);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner {
  display: contents;
}
.header__nav {
  display: none;
}
.header__menu-btn {
  background-color: transparent;
  border: 0;
}

/* 選單打開 */
.header--open {
  margin: 0;
  position: fixed;
  inset: 0;
  z-index: 1000;
  min-height: 100vh; /* 避免舊瀏覽器讀不到 */
  min-height: 100dvh;
  background-color: hsla(229, 31%, 21%, 0.95);
}
.header--open .header__container {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  padding-inline: var(--space-16);
  display: flex;
  flex-direction: column;
}
.header--open .header__inner {
  width: 100%;
  display: flex;
  padding-block: var(--space-16);
  justify-content: space-between;
  align-items: center;
}

.header--open .header__logo-svg {
  height: 42px;
  width: auto;
  fill: var(--color-gray-900);
}
.header--open .header__logo-circle {
  fill: white;
}
.header--open .header__logo-text {
  fill: white;
}

.header--open .header__logo-bookmark {
  fill: var(--color-gray-900);
}

.header--open .header--button--close {
  height: 24px;
  width: auto;
}
.header--open .header__nav {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.header--open .header__link {
  width: 100%;
  display: block;
  padding-block: var(--space-8);
  color: white;

  font-weight: var(--font-weight-regular);
  font-size: var(--fs-2xl);
  letter-spacing: 3px;
  border-top: 1px solid var(--color-gray-600);
}
.header--open .header__link--last {
  border-bottom: 1px solid var(--color-gray-600);
}
.header--open .btn--login {
  border: 3px solid white;
  background-color: transparent;
  padding-block: var(--space-10);
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-2xl);
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-12);
}
.header--open .header__social {
  margin-top: auto;
  width: 100%;
  padding-block: var(--space-10) var(--space-20);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-16);
}
.header--open .header__social-icon {
  height: 38px;
}

.header--open .header__menu-btn {
  display: none;
}
/*----------  hero ---------- */
.hero {
  margin-bottom: var(--space-20);
}
.hero__media {
  padding-block: var(--space-12);
  position: relative;
}
.hero__img {
  position: relative;
  z-index: 10;
  width: 100%;
}
.hero__shape {
  position: absolute;
  right: -50px;
  bottom: 40px;
  z-index: 1;
  width: 100%;
  height: 200px;
  background: var(--color-blue-600);
  border-radius: 100px 0 0 100px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-2xl);
  margin-bottom: var(--space-3);
}

.hero__description {
  color: var(--color-gray-400);
  margin-bottom: var(--space-6);
}
.hero__actions {
  display: flex;
  gap: var(--space-3);
}
.hero__btn {
  padding-inline: 20px;
}

/*----------  Features ---------- */
.features {
  margin-bottom: var(--space-20);
}
.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-xl);
  margin-bottom: var(--space-3);
}
.features__description {
  color: var(--color-gray-400);
  margin-bottom: var(--space-6);
}
.features__tabs {
  width: 100%;
  border-top: 3px solid var(--color-gray-50);
  border-bottom: 3px solid var(--color-gray-50);
  margin-bottom: var(--space-10);
}
.features__tab-item {
  height: var(--space-16);
  display: block;
  width: 100%;
  position: relative;
  border: 0;
  color: var(--color-gray-600);
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__tab-item--active {
  color: black;
}
/* 分頁-紅色下底裝飾線 */
.features__tab-item--active::after {
  width: 150px;
  height: 3px;
  background-color: var(--color-red-400);
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
}

.features__tab-item:not(:last-child) {
  border-bottom: 3px solid var(--color-gray-50);
}

.features__card {
  display: none;
  margin-bottom: var(--space-10);
}
.features__card--active {
  display: block;
}
.features__media {
  padding-block: var(--space-12);
  position: relative;
  margin-bottom: var(--space-8);
}
.features__img {
  width: 100%;
  position: relative;
  z-index: 10;
}
.features__shape {
  position: absolute;
  left: -50px;
  bottom: 10px;
  z-index: 1;
  width: 100%;
  height: 200px;
  background: var(--color-blue-600);
  border-radius: 0 100px 100px 0;
}

.features__card-title {
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-lg);
  margin-bottom: var(--space-3);
}

.features__card-description {
  color: var(--color-gray-400);
  margin-bottom: var(--space-6);
}
.features__btn {
  display: none;
}

/*----------  Download ---------- */
.download {
  margin-bottom: var(--space-20);
}
.download__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.download__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-xl);
  margin-bottom: var(--space-3);
}
.download__description {
  color: var(--color-gray-400);
  margin-bottom: var(--space-6);
}

/* 卡片 */
.download__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 30px rgba(36, 42, 69, 0.12);
  border-radius: 10px;
  margin-bottom: var(--space-10);
}

.download__card-logo {
  display: block;
  margin-block: var(--space-10);
}

.download__card-title {
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-lg);
  margin-bottom: var(--space-3);
}
.download__card-text {
  color: var(--color-gray-400);
  margin-bottom: var(--space-8);
}
.download__card-divider {
  display: block;
  width: 100%;
}
.download__card-actions {
  width: 100%;
  padding-inline: var(--space-6);
  padding-block: var(--space-6);
}

.download__card-btn {
  width: 100%;
}

/*----------  FAQ ---------- */
.faq {
  margin-bottom: var(--space-20);
}
.faq__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.faq__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-xl);
  margin-bottom: var(--space-3);
  width: 80%;
}
.faq__description {
  color: var(--color-gray-400);
  margin-bottom: var(--space-10);
}

.faq__item {
  text-align: left;
  border-bottom: 3px solid var(--color-gray-50);
}

.faq__item:last-child {
  margin-bottom: var(--space-12);
}
.faq__question {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  background-color: transparent;
  padding-block: var(--space-6);
  padding-inline: 0;
}
.faq__question-text {
  font-size: var(--fs-base);
  font-weight: var(--font-weight-regular);
}
.faq__item-icon {
  flex-shrink: 0;
  transition: transform 0.2s ease;
  color: var(--color-blue-600);
}

.faq__panel {
  padding-block: var(--space-6);
  color: var(--color-gray-600);
  display: none;
}
/* faq打開 */
.faq__item--open .faq__item-icon {
  transform: rotate(180deg);
  color: var(--color-red-400);
}
.faq__item--open .faq__panel {
  display: block;
}
.faq__btn {
  padding-inline: var(--space-6);
  font-weight: var(--font-weight-regular);
}

/*----------  Subscribe ---------- */
.subscribe {
  background-color: var(--color-blue-600);
  padding-top: var(--space-16);
  padding-bottom: var(--space-12);
}
.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.subscribe__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-xl);
  margin-bottom: var(--space-6);
  color: white;
  width: 100%;
}
.subscribe__subtitle {
  font-weight: var(--font-weight-medium);
  font-size: var(--fs-md);
  margin-bottom: var(--space-3);
  color: white;
  letter-spacing: var(--space-1);
}
.subscribe__form {
  width: 100%;
}
.subscribe__field--error {
  background-color: var(--color-red-400);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin-bottom: var(--space-6);
}
.subscribe__input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--space-3);
  padding-block: var(--space-3);
  background-color: white;
  border-radius: 3px;
}
.subscribe__input {
  border: 0;
}
.subscribe__error {
  padding-block: var(--space-1);
  padding-left: 12px;
  text-align: left;
  color: white;
  font-size: var(--fs-sm);
  font-style: italic;
  font-weight: var(--font-weight-medium);
}
.subscribe__btn {
  width: 100%;
  font-size: var(--font-weight-regular);
}

/*----------  Footer ---------- */
.footer {
  background-color: var(--color-gray-900);
  padding-block: var(--space-3) var(--space-12);
}
.footer__container {
  padding-inline: var(--space-20);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  padding-block: var(--space-6);
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: var(--space-6);
}
.footer__link {
  font-weight: var(--font-weight-regular);
  font-size: var(--fs-md);
  letter-spacing: 1px;
  padding-block: var(--space-2);
  color: var(--color-gray-50);
}
.footer__social {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: var(--space-10);
}
/*----------  RWD ---------- */
/* 平板 */
@media (min-width: 768px) {
  /* 版心 */
  .container {
    width: 100%;
    max-width: 1600px;
    margin-inline: auto;
    padding-inline: var(--space-16);
  }

  /* header */
  .header__nav {
    margin-right: var(--space-12);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .icon-btn--close,
  .header__social,
  .header__menu-btn {
    display: none;
  }
  .header__link,
  .btn--login {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__link,
  .btn--login {
    padding-inline: var(--space-4);
  }
  /* hero */
  .hero__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--space-16);
  }
  .hero__wrapper > * {
    flex: 1;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }

  .hero__shape {
    right: -120px;
  }

  /* feature */
  .features__description {
    width: 50%;
  }
  .features__tabs {
    display: flex;
    width: 65%;
    border-top: 0;
  }
  .features__tab-item,
  .features__tab-item:not(:last-child) {
    border: 0;
  }

  .features__tab-item--active::after {
    width: 100%;
  }
  .features__card {
    display: none;
  }
  .features__card--active {
    display: flex;
    align-items: center;
    text-align: left;
    gap: var(--space-16);
  }
  .features__btn {
    display: block;
  }
  .features__card--active > * {
    flex: 1;
  }
  .features__shape {
    left: -100px;
    bottom: -30px;
  }

  /* download */
  .download__description {
    width: 50%;
  }
  .download__cards {
    width: 90%;
    display: flex;
    align-items: start;
    padding-block: 2rem;
    gap: 1.5rem;
  }
  .download__card:nth-child(2) {
    margin-top: 3rem;
  }
  .download__card:nth-child(3) {
    margin-top: 6rem;
  }

  /* FAQ */
  .faq .container {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  /* subscribe  */
  .subscribe .container {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .subscribe__form {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
  .subscribe__field {
    flex: 1;
  }
  .subscribe__btn {
    width: 120px;
  }

  /* footer  */
  .footer {
    padding: 0;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
  }
  .footer__nav {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 0;
  }

  .footer__social {
    justify-content: end;
  }
}
