:root {
  /* Primary */
  --color-blue-600: hsl(231, 69%, 60%);
  --color-red-400: hsl(0, 94%, 66%);

  /* Neutral */
  --color-gray-50: hsl(0, 0%, 97%);
  --color-gray-400: hsl(229, 8%, 60%);
  --color-gray-900: hsl(229, 31%, 21%);

  /* 字體 */
  --font-family-base: "Rubik", sans-serif;

  /* 字體粗細 */
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* 字體大小 */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-md: 1.125rem; /* 18px */
  --fs-lg: 1.25rem; /* 20px */

  /* 間距  */
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-8: 2rem; /* 32px */
  --space-10: 2.5rem; /* 40px */
  --space-12: 3rem; /* 48px */
  --space-16: 4rem; /* 64px */
  --space-20: 5rem; /* 80px */
}

body {
  font-weight: var(--font-weight-regular);
  font-size: var(--fs-base);
  font-family: var(--font-family-base);
  line-height: 1.5;
  color: var(--color-gray-400);
}
